*{
    margin: 0;
    padding: 0;
}body{
    background: linear-gradient(180deg, rgba(253,187,45,1) 0%, rgba(34,193,195,1) 50%, rgba(34,127,195,1) 100%);
}::-webkit-scrollbar-track {
    background: #fff;
}::-webkit-scrollbar-thumb {
    background: #bbb;   
}::-webkit-scrollbar-thumb:hover {
    background: #888;
}

/* Phone */
@media screen and (max-width: 1200px) {
    #header_container{
        border: 0;
        background-color: transparent;
    }#header_container p{
        background-color: transparent;
        border: white solid 3px;
    }
}