*{
    margin: 0;
    padding: 0;
}body{
    overflow-x: hidden;
    background-image: linear-gradient(rgb(47, 47, 47), rgb(86, 134, 193));
}::-webkit-scrollbar-track {
    background: #fff;
}::-webkit-scrollbar-thumb {
    background: #bbb;   
}::-webkit-scrollbar-thumb:hover {
    background: #888;
}

/* Smoke */
#smoke_screen{
    width: 100%;
    height: 100%;
    overflow: hidden;
}.smoke{
    -webkit-user-drag: none;
    pointer-events: none;
    position: absolute;
    transform: translate(0px, 0px);
}#smoke_switch{
    width: 50px; height: 50px;
    background-color: white;
    border-radius: 25px;
    border: black solid 3px;
    position: fixed;
    bottom: 25px; left: 5px;
}#smoke_switch p{
    margin: auto; margin-top: 10px;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}

/* Factory */
#factory_bg{
    position: absolute;
    z-index: 10;
    height: 200px;
    width: 100%;
    transform: translate(0, 15%);
    z-index: 0;
}#factory_wrapper{
    width: 100%;
    height: 100px;
    background-image: url("../img/Pollution/factory_bg.png");
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 300px;
}

/* Footer */
footer{
    width: 100%;
    border-radius: 0;
    background-color: black;
}footer p{
    color: white;
}

/* Phone */
@media screen and (max-width: 800px) {
    #header_container{
        border: 0;
        background-color: transparent;
    }#header_container p{
        background-color: transparent;
        border: white solid 3px;
    }#smoke_switch{
        display: none;
    }
}