body{
    background-color: black;
}::-webkit-scrollbar-track {
    background: #222;
}::-webkit-scrollbar-thumb {
    background: #fff;
}::-webkit-scrollbar-thumb:hover {
    background: #999;
}

/* Header */
header{
    position: relative;
    width: 100%;
    height: 50vw;
    margin: 0;
}header img{
    position: absolute;
    margin: 0; z-index: 2;
    width: 50%;
    margin-left: 25%; margin-top: 10%;

    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}header h1{
    position: absolute;
    z-index: 10;
    color: white;
    font-size: 5vw;
    font-weight: bold;
}#header_text_left{
    margin: 0;
    left: 12vw;
    top: 7vw;
}#header_text_right{
    margin: 0; 
    left: 63vw;
    top: 31.5vw;
}
#EarthStill{
    z-index: 0;
}#EarthVid{
    position: absolute;
    margin: 0; z-index: 1;
    width: 50%;
    margin-left: 25%; margin-top: 10%;
}.underline{
    position: absolute;
    width: 20vw;
    margin: 0;
    z-index: 10;
}#underline_L{
    top: 21.5vw;
    left: 21vw;
}#underline_D{
    top: 32vw;
    left: 31.5vw;
}#underline_R{
    top: 18vw;
    left: 58vw;
    transform: scale(-1, -1);
}#underline_T{
    top: 8.7vw;
    left: 48vw;
    transform: scale(-1, -1);
}
.link{
    display: block;
    position: absolute;
    font-size: 2vw;
    margin: 0;
    padding-top: 0 !important; padding-bottom: 0 !important;
    padding-left: 15px; padding-right: 15px;
    z-index: 10;
    color: white;
    text-decoration: none;
    padding: 3px 8px 3px 8px;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.25);
}#link_L{
    top: 24.4vw;
    left: 24.5vw;
}#link_D{
    top: 34.9vw;
    left: 30vw;
}#link_R{
    top: 19.1vw;
    left: 63.9vw;
}#link_T{
    top: 9.7vw;
    left: 53.9vw;
}.link:hover{
    background-color: rgba(255, 255, 255, 0.50);
}

/* Section */
section a{
    color: lightseagreen;
}

/* Phone */
@media screen and (max-width: 800px) {
    header{
        height: calc(40vw + 8em);
    }.underline{
        opacity: 0;
    }#header_text_right{
        top: 7vw;
    }.link{
        font-size: 20px;
        left: 10%;
        width: calc(80% - 15px);
        height: 25px;
    }#link_L{
        top: calc(40vw + 0em);
        left: 10%;
    }#link_D{
        top: calc(40vw + 1.5em);
        left: 10%;
    }#link_R{
        top: calc(40vw + 3em);
        left: 10%;
    }#link_T{
        top: calc(40vw + 4.5em);
        left: 10%;
    }
}