*{
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}body{
    min-height: 100%;
    overflow-x: hidden;
    background: linear-gradient(180deg, rgb(0, 86, 42) 0%, rgb(0, 157, 255) 100%);
}::-webkit-scrollbar-track {
    background: #fff;
}::-webkit-scrollbar-thumb {
    background: #bbb;   
}::-webkit-scrollbar-thumb:hover {
    background: #888;
}

/* Section */
strong{
    color: white !important;
}
.section_special{
    background-color: rgb(0, 157, 147);
}.section_special p{
    width: 75%;
    text-align: center;
    margin: 20px auto 20px auto;
}.section_special button{
    position: relative;
    width: 150px; height: 50px;
    border-radius: 50px;
    margin: calc(50% - 75px);
    margin-top: 0; margin-bottom: 0;
}.section_special button:hover{
    background-color: rgb(167, 167, 167);
}.section_special button:active{
    background-color: rgb(255, 255, 255);
}
.section_special_input{
    width: 96%;
    border: white solid 1px;
    margin: auto;
    border-radius: 50px;
    margin-left: 2%; margin-bottom: 25px;
    display: flex;
    text-align: center;
    display: flex;
    justify-content: center;
}.input_field{
    float: left;
    width: 200px;
}.input_field input{
    border: transparent solid 2px;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
    font-size: 15px;
    border-radius: 50px;
    height: 25px;
    background-color: white;
}#input_terms_text {
    margin-top: 5px;
    margin-bottom: 5px;
}.score_table{
    position: relative;
    width: 96%;
    margin: auto; margin-bottom: 25px;
}.section_special li{
    width: 50%;
}

/* Phone */
@media screen and (max-width: 1200px) {
    #header_container{
        border: 0;
        background-color: transparent;
    }#header_container p{
        background-color: transparent;
        border: white solid 3px;
    }.animal{
        height: 100px;
    }.section_special_input{
        display: block;
    }
}